<nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-success">
  <div class="container-fluid">
    <a class="navbar-brand" href="{% url 'home' %}">Valley Green Jaguars</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            &#9917;Teams Names
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><h6 class="dropdown-header">Age Group</h6></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">U7</a></li>
            <li><a class="dropdown-item" href="#">U8</a></li>
            
            <li><a class="dropdown-item" href="{% url 'team-name-U9' %}">U9</a></li>
            <li><a class="dropdown-item" href="{% url 'team-name-U10' %}">U10</a></li>
            <li><a class="dropdown-item" href="#">U11</a></li>
            <li><a class="dropdown-item" href="#">U12</a></li>
            <li><a class="dropdown-item" href="#">U13</a></li>
            <li><a class="dropdown-item" href="#">U14</a></li>
            <li><a class="dropdown-item" href="#">U15</a></li>
            <li><a class="dropdown-item" href="#">U16</a></li>
          </ul>
        </li>
        
      

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            &#128467;Fixture
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><h6 class="dropdown-header">Age Group</h6></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">U7</a></li>
            <li><a class="dropdown-item" href="#">U8</a></li>
            
            <li><a class="dropdown-item" href="#">U9</a></li>
            <li><a class="dropdown-item" href="{% url 'fixture-U10' %}">U10</a></li>
            <li><a class="dropdown-item" href="#">U11</a></li>
            <li><a class="dropdown-item" href="#">U12</a></li>
            <li><a class="dropdown-item" href="#">U13</a></li>
            <li><a class="dropdown-item" href="#">U14</a></li>
            <li><a class="dropdown-item" href="#">U15</a></li>
            <li><a class="dropdown-item" href="#">U16</a></li>
          </ul>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Player Match Stats
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><h6 class="dropdown-header">Age Group</h6></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">U7</a></li>
            <li><a class="dropdown-item" href="#">U8</a></li>
            
            <li><a class="dropdown-item" href="{% url 'player-stats-U9' %}">U9</a></li>
            <li><a class="dropdown-item" href="{% url 'player-stats-U10' %}">U10</a></li>
            <li><a class="dropdown-item" href="#">U11</a></li>
            <li><a class="dropdown-item" href="#">U12</a></li>
            <li><a class="dropdown-item" href="#">U13</a></li>
            <li><a class="dropdown-item" href="#">U14</a></li>
            <li><a class="dropdown-item" href="#">U15</a></li>
            <li><a class="dropdown-item" href="#">U16</a></li>
          </ul>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Player Season Stats
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><h6 class="dropdown-header">Age Group</h6></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">U7</a></li>
            <li><a class="dropdown-item" href="#">U8</a></li>
            
            <li><a class="dropdown-item" href="#">U9</a></li>
            <li><a class="dropdown-item" href="{% url 'goals-scored-U10' %}">U10</a></li>
            <li><a class="dropdown-item" href="#">U11</a></li>
            <li><a class="dropdown-item" href="#">U12</a></li>
            <li><a class="dropdown-item" href="#">U13</a></li>
            <li><a class="dropdown-item" href="#">U14</a></li>
            <li><a class="dropdown-item" href="#">U15</a></li>
            <li><a class="dropdown-item" href="#">U16</a></li>
          </ul>
        </li>

        

        
      </ul>
      <ul class="navbar-nav ml-auto">
        {% if user.is_authenticated %}
          <li class="nav-item">
            <a class="nav-link" href="{% url 'logout' %}">&#128273;Logout</a>
          </li>
        {% else %}
          <li class="nav-item">
            <a class="nav-link" href="{% url 'login' %}">&#128273;Login</a>
          </li>

        {% endif %}
      </ul>



    </div>
  </div>
</nav>